# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Compiled Emacs lisp
*.elc

# Packaging
.cask
dist/

# Backup files
*~
*#
.ipynb_checkpoints

# Undo-tree save-files
*.~undo-tree

# MacOS
.DS_Store

